:root {
    --primary: #08a3db;
    --secondary: #a8f288;
    --accent: #f9f871;
    --cyan: #00bddd;
    --robin-egg-blue: #00d3cb;
    --eucalyptus: #4fe6ab;
    --white: #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black);
}

.main-content{
    margin: 180px 0;
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-btn:hover {
    background-color: var(--cyan);
}

.secondary-btn {
    background-color: var(--secondary);
    color: var(--black);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-btn:hover {
    background-color: var(--eucalyptus);
}
