.mini-navbar {
    background-color: var(--white);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--black-squeeze);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.motto {
    color: var(--allports);
    font-weight: 600;
    white-space: nowrap;
}

.nav-right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--catalina-blue);
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: var(--astral);
}

@media (max-width: 780px) {
    .mini-navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media (max-width: 380px) {

    .nav-right {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .nav-item {
        width: 38%;
    }
}